.App {
  text-align: center;
}

.myapp{
  display:flex;
  justify-content: space-around;
  
  box-shadow: 1px 1px 5px grey;
  padding: 10px;
  background-color:#000000;
 height: 80px;
 
}
.my-input{
  width:60%;
 height:60px;
 font-size: 50px;
}

.gallery{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.item{
  width:30%;
  margin:5px;
border-radius: 25px;

}
button{
  background-color: rgb(12, 12, 12);
  width: 100px;
  border-radius: 25px;
  border-color: red;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
button:hover{
  
  border-color: rgb(80, 245, 80);
  border-width: thick;
  
}
span{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:24px;
  color: rgb(245, 245, 245);
  font-weight: 500;
  
  letter-spacing: 10px;
  position: relative;
  top:-20px;
}
